################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/knowledgeBase/obj/Debug
/knowledgeBase/bin
